DJANGO==5.2.5
psycopg==3.2.9
djangorestframework==3.16.1
django-cors-headers==4.7.0
python-dotenv==1.1.1
djangorestframework-simplejwt== 5.5.1
google-auth==2.48.0
google-auth-oauthlib==1.2.4
gunicorn=== 25.3.0
