@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap')
layer(base);
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lexend:wght@100..900&family=Space+Grotesk:wght@300..700&display=swap');

@import 'tailwindcss';
html, body {
  background-color: #191919;
  margin: 0;
  padding: 0;
}

@theme {
  --animate-marquee: marquee 25s linear infinite;
  --animate-marquee2: marquee2 25s linear infinite;

  --color-primary: var(--primaryColor);
  --color-background: var(--backgroundColor);
  --color-purple: var(--purple);
  --color-orange: var(--orange);
  --color-green: var(--green);
  --color-red: var(--red);
  --color-highlight: var(--highlightColor);
  --color-secondary: var(--secondaryColor);
  --color-yellow: var(--yellow);
  --color-cyan: var(--cyan);
  --color-tiltbtn: var(--tiltbtn);
  --color-pink: var(--pink);
  --color-lavendar: var(--lavendar);
  --color-peach: var(--peach);

  --scale--100: -1;

  --font-sans: Poppins, sans-serif;
  --font-Ubuntu: Ubuntu Mono, monospace;
  --font-Anton: Anton, sans-serif;
  --font-Lexend:Lexend,sans-serif;
  --font-SpaceGrotesk :"Space Grotesk", sans-serif;

  --shadow-custom:
    9px 10px 0 -1px var(--primaryColor), 9px 10px 0 rgb(102, 55, 238);

  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  @keyframes marquee2 {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(240%);
    }
  }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

:root {
  --primaryColor: #000000;
  --secondaryColor: #0f0e0e;
  --backgroundColor: #000;
  --purple: #C5B4E3;
  --highlightColor: #A8D1E7;
  --cyan: #00ffc2;
  --green: #B4E197;
  --orange: #fe4e00;
  --yellow: #F9D371;
  --tiltbtn: rgb(206, 255, 26);
  --red:#fb6612;
  --pink:#F9B2A8;
  --lavendar:#E0D8F0;
  --peach:#FFCCB3;
  --slategrey:#333333;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #252525;
  border-radius: px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #333333;
  border-radius: px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #deff0a;
}

.triangle::before {
  content: "";
  position: absolute;
  bottom: -20px;
  left: -1px;
  border-width: 10px;
  border-color: #fff transparent transparent #fff;
}

.triangle::after {
  border-color: #000 transparent transparent #000;
  border-width: 8px;
  position: absolute;
  content: " ";
  bottom: -15px;
  left: 0;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}