@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Condensed:wght@900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

  

:root {
  --primaryColor: #000000;
  --secondaryColor: #0f0e0e;
  --backgroundColor: #000;
  --purple:#8455ff;
  --highlightColor:#DEFF0A;
  --green:#DEFF0A;
  --orange:#FE4E00;

}

